#tooltip {
	background: url(../images/search.png) no-repeat 5px 50%;
	border: 1px solid #BFBFBF;
	float: left;
	font-size: 12px;
	max-width: 160px;
	padding: 1em 1em 1em 3em;
	position: absolute;
}

.rounded {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
