body {
    margin: 0px;
    padding: 0px;
    background-color: #F1F1F1;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 785px;
    height: 100%;
}

.header {
    display: inline;
    margin-bottom: 15px;
}

#logo {
    width: 300px;
    float: left;
}

#alignR {
    text-align: right;
    line-height: 150px;
    font-size: large;
}

.content {
    clear: both;
    top: 200px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    position: absolute;
    width: 36em;
    z-index: -1;
}

/*menu*/
#menu {
    height: auto;
}
#menu a:link, a:visited {
    color: white;
    text-decoration: none;
}

#menu a:hover {
    color: white;
}

#menu, #menu ul {
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
}

    #menu li {
        float: left;
        position: relative;
        line-height: 2em;
        width: 6em;
        text-align: center;
        margin: 1px;
    }

        #menu li ul {
            position: relative;
            display: none;
        }

    #menu ul li ul {
        margin-top: 6px;
        margin-left: -11px;
    }

    #menu a {
        display: block;
        text-decoration: none;
    }

    #menu li:hover ul, #menu li.over ul {
        display: block;
    }

        #menu li:hover ul ul, #menu li.over ul ul {
            display: none;
        }
/*button*/
.button {
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#344f91), to(#65a9d7));
    background: -webkit-linear-gradient(top, #344f91, #65a9d7);
    background: -moz-linear-gradient(top, #344f91, #65a9d7);
    background: -ms-linear-gradient(top, #344f91, #65a9d7);
    background: -o-linear-gradient(top, #344f91, #65a9d7);
    padding: 5px 10px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    font-size: 15px;
    font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}

    .button:hover {
        border-top-color: #64b1bf;
        background: #64b1bf;
    }
/*sub button*/
.subbutton {
    padding: 5px 10px;
    font-size: 15px;
    font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}

    .subbutton:hover {
        background: -webkit-gradient(linear, left top, left bottom, from(#344f91), to(#65a9d7));
        background: -webkit-linear-gradient(top, #344f91, #65a9d7);
        background: -moz-linear-gradient(top, #344f91, #65a9d7);
        background: -ms-linear-gradient(top, #344f91, #65a9d7);
        background: -o-linear-gradient(top, #344f91, #65a9d7);
    }
